<!DOCTYPE html>
<html>

<head>
  <title>Monster Slayer</title>
  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="css/foundation.min.css">
  <link rel="stylesheet" href="css/app.css">
</head>

<body>
  <div id="app">
    <section class="row">
      <div class="small-6 columns">
        <h1 class="text-center">YOU</h1>
        <div class="healthbar">
          <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="{ width : playerHealth + '%' }">
            {{ playerHealth }}
          </div>
        </div>
      </div>
      <div class="small-6 columns">
        <h1 class="text-center">MONSTER</h1>
        <div class="healthbar">
          <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="{ width : monsterHealth + '%' }">
            {{ monsterHealth }}
          </div>
        </div>
      </div>
    </section>
    <section class="row controls" v-if="!gameIsRunning">
      <div class="small-12 columns">
        <button id="start-game" @click="startGame">START NEW GAME</button>
      </div>
    </section>
    <section class="row controls" v-if="gameIsRunning">
      <div class="small-12 columns">
        <button id="attack" @click="attack">ATTACK</button>
        <button id="special-attack" @click="specialAttack">SPECIAL ATTACK</button>
        <button id="heal" @click="heal">HEAL</button>
        <button id="give-up" @click="giveUp">GIVE UP</button>
      </div>
    </section>
    <section class="row log">
      <div class="small-12 columns">
        <ul>
          <li>
          </li>
        </ul>
      </div>
    </section>
  </div>
  <script>
  new Vue({
    el: '#app',
    data: {
      playerHealth: 100,
      monsterHealth: 100,
      gameIsRunning: false,
    },
    methods: {
      init: function() {
        this.gameIsRunning = false;
        this.initHealth();
      },
      initHealth: function() {
        this.playerHealth = 100;
        this.monsterHealth = 100;
      },
      startGame: function() {
        this.gameIsRunning = true;
        this.initHealth();
      },
      attack: function() {
        this.monsterHealth -= this.calculateDamage(10, 3);
        if (this.checkHealth()) {
          return;
        }

        this.monsterAttacks();
        this.checkHealth();
      },
      monsterAttacks: function() {
        this.playerHealth -= this.calculateDamage(15, 5);
      },
      specialAttack: function() {
        this.monsterHealth -= this.calculateDamage(20, 10);
        if (this.checkHealth()) {
          return;
        }

        this.monsterAttacks();
        this.checkHealth();
      },
      heal: function() {

      },
      giveUp: function() {

      },
      calculateDamage: function(max, min) {
        var damage = Math.max(Math.floor((Math.random() * max)) + min, min);
        return damage;
      },
      checkHealth: function() {
        if (this.monsterHealth <= 0) {
          this.monsterHealth = 0;
          alert("You win !");

          if (confirm("Do you want to replay?") == true) {
            this.initHealth();
          } else {
            this.init();
          }

          return true;
        } else if (this.playerHealth <= 0) {
          this.playerHealth = 0;
          alert("You lost !");

          if (confirm("Do you want to replay?") == true) {
            this.initHealth();
          } else {
            this.init();
          }

          return true;
        }
        return false;
      },
    }
  });
  </script>
</body>

</html>
